@media (max-width: 920px) {
  .container-xxl {
    display: grid;
    grid-template-columns: 100%;
    gap: 0;
  }

  .container-xxl .scopes {
    grid-row: 2/3;
  }

  .container-xxl .team {
    grid-row: 3/4;
  }

  .container-xxl .primary {
    grid-row: 4/5;
  }

  .container-xxl .timeline {
    grid-row: 5/6;
    grid-column: 1/-1;
  }
}
